body,div,ul,li,table,tr,td,img {
  margin:0px;
  padding:0px;
}
.bigrect {
  width:960px;
  margin:0 auto;
  margin-top:5px;
  /*background:#CCC;*/
}
#header {
  /*height:100px;*/
}
#nav {
  height:35px;
}
#nav ul {
  width:960px;
  height:35px;
}
#nav ul li {
  float:left;
  list-style:none;
  /*width:100px; 使用padding*/
  /*padding:0 10px;*/
  /*height:35px; 用line-height就行*/
  line-height:35px;
  text-align:center;
}
#nav ul li a {
  font-size:12px;
  color:#333;
  text-decoration:none;
  height:35px;
  display:block;
  padding:0 10px;
}
#nav ul li a:hover {
  color:#fff;
  background:#000;
}
#banner {
  height:150px;
}
#table_banner {
  height:150px;
  width:960px;
  border-spacing:0px;
  background:#fff;
}
.tr_banner {
  height:50px;
  width:960px;
}
.ad_img {
  height:50px;
  width:240px;
}
#content {
  /*height:1000px;*/
  overflow:hidden;
}
#leftList,#centerDoc,#rightAds {
  float:left;
}
#leftList {
  width:80px;
}
#leftList ul li {
  list-style:none;
  line-height:35px;
  text-align:left;
}
#leftList ul li a {
  font-size:12px;
  color:#333;
  text-decoration:none;
  height:35px;
}
#leftList ul li a:hover {
  color:#fff;
  background:#000;
}
#centerDoc {
  width:800px;
}
#rightAds {
  width:80px;
}
